@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color:#111111;
    color: #FFFFFF;
    margin: 0px;
}
main, header{
  max-width: 1060px;
  margin: 20px auto;
}
section {
  margin: 80px 0px;
}
.section-title{
  font-family: "Roboto", sans-serif; 
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0px;
}
#active {
    font-weight: 500;
    color: white;
    background: #E6533C;
    align-items: center;
    padding: 7px 13px;
    border: none;
    border-radius: 15px;
  }
  .button {
    font-weight: 500;
    color: white;
    background: transparent;
    align-items: center;
    padding: 10px 40px !important;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
  }
  .secondary-color {
    color: #999999;
   
  }
/* header */
.navbar{
    display: flex;
    justify-content: space-between;
}
.header-title{
    color: #E6533C;
}
.navbar > ul {
 display: flex;
 gap: 20px;
 list-style: none;
 text-align: center;
 align-items: center;
 
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
   
  }
#mobile-icon{
  display: none;
}
  /* Banner */
  .banner{
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  .banner-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
  }
  .banner-info h1 {
    font-size: 78px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom:10px ;
  }
  .banner-info h1 > span {
    font-family: "Dancing Script", cursive;
  }
  .banner-info p {
    color: #999999;
    line-height: 24px;
    padding: 10px 0px;
    font-weight: 400;
    margin: 10px 0px;
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    gap: 30px;
  }


  .banner-img {
    position: relative;
    width: 45%;
    background-image:url("../asset/images/Images2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
.workout-videos,.tutorials{
  background: #303030;
}

.workout-videos{
  width: 193px; 
  border-radius:15px ;
  align-items: center;
  padding: 20px;
  border: 1px solid #303030;
  position: absolute;
  top: 80px;
  right: -50px;
}
.workout-videos h3 {
  font-size: 40px;
  font-weight: bold;
  margin:0px 0px 6px;
  letter-spacing: 1px;
}
.workout-videos span {
  color: #999999;
  font-weight: 400;
}
.tutorials {
  width: 203px; 
  border-radius:15px ;
  align-items: center;
  padding: 20px;
  border: 1px solid #303030;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 50px;
  left: -10px;
}
.orange-logo{
  width: 30px;
  height: 30px;
  background: #E6533C;
  border-radius: 50%;
  margin-right: 10px;
}
.tutorials span {
  color: #999999;
  font-weight: 400;
}
.tutorials h4 {
  font-size: 24px;
  font-weight: bold;
  margin:0px 0px 5px 0px;
  letter-spacing: 1px;
}

/* Habits */

.habits {
  text-align: center;
}
.section-description{
  margin: 10px  0px 40px 0px;
}
.habit-cards{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.habit-card img {
  border-radius: 50%;
}

/* Run */
.run{
  display: flex;
  gap: 30px;
  background-color: #222222;
  justify-content: space-around;
  padding: 30px 15px 25px 30px;
  border-radius: 10px;
}
.run-description h1 {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  margin: 25px 0px;
}
.run-description p {
  margin-bottom: 40px;
}


.image {
  overflow: hidden; 
  display: inline-block; 
  width: 50%;
  border-radius: 20px;
}

.img {
  max-width: 100%;
  transform: scale(1.8);
}

/*     BMI */ 
.bmi{
  width: 661px;
  margin: 0px auto;
  text-align: left;
}

.bmi-calculatortable{
  background-color: #222222;
  display: flex;
  gap: 5%;
  padding: 10px;
}
.bmi-calculatortable h4 {
  font-size: 28px;
  margin: 13px 0px;
}
.bmi-calculator{
  width: 55%;
  padding: 20px;
}
.bmi-table {
  width: 40%;
  margin: 0px auto;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #3e3e3e;
  padding: 7px;
  text-align: left;
}
th {
  color: white;
}
.calculate{
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
#factors {
  grid-column: span 2;
}
input, select {
  background-color: #383838;
  color:#616162;
  padding: 10px;
  border: none;
  border-radius: 7px;
}

/* TEAM */
.team{
  text-align: center;
}
.teammate-cards{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
  margin: 60px 0px 30px 0px;
}
.teammate-cards  h3 ,.span {
  position: absolute;
  bottom: 20px;
  left: 10%;
  font-weight: bold;
}

.teammate-card1{
  position: relative;
  background-image: url("../asset/images/trainer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 250px;
  max-width: 350px;
  border-radius: 10px;

}
.teammate-card2{
  background-image: url('../asset/images/trainer2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 250px;
  max-width: 350px;
  position: relative;
  border-radius: 10px;
}
.teammate-card3{
  background-image: url("../asset/images/trainer3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 250px;
  max-width: 350px;
  position: relative;
  border-radius: 10px;
}
.teammate-card4{
  background-image: url('../asset/images/trainer4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  max-width: 350px;
  transform: scale(1.0);
  position: relative;
  border-radius: 10px;
}
.teammate-card5{
  background-image: url("../asset/images/trainer5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  max-width: 350px;
  position: relative;
  border-radius: 10px;
}
  
.teammate-card6{
  background-image: url('../asset/images/trainer6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  max-width: 350px;
  position: relative;
}
/* Packages  */
.packages {
  text-align: center;
}
.package-cards{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.package-card{
  background-color: #222222;
  height:230px;
  padding: 20px 10px;
  border-radius: 60px 0px 60px 20px;
  width: 300px;
  border: 1px solid #999999;
  transition: .5s;
}
.package-card > ul {
  text-align: left;
}
.package-card > .btn {
  text-align: center;
  margin: 10px 0px;
}
.package-card:hover {
  border: 1px solid black;
}
.package-card h4 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(200, 148, 148);
  font-weight: bolder;
}

/* footer  */
footer{
  background-color: #191919;
  margin: 80px 0px 0px 0px;
  width: 100%;
}
.footer-tabs{
  max-width: 1060px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 30px 0px;
}

.footer-tab-2 > ul  {
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.footer-tab-3 > ul  {
  list-style: none;
  text-decoration: none;
  color: #999999;
}
.copyright{
  color: #999999;
  background-color: #222222;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 992px) and (max-width:1270px){
  main, header {
    max-width: 970px !important;
  }
  .package-card{
    height:240px;
    width: 280px;
  }
  
}

@media screen and (max-width: 576px) {
  main, header{
    max-width: 100vh;
    text-align: center;
  }
  .navbar > ul {
    display: none;
   }
   .mobile-icon{
    display: inline-block;
    color:#E6533C;
  }
  .banner , .habit-cards , .run, .bmi-calculatortable, .package-cards {
    flex-direction:column;
    gap: 30px;
  }
  .banner-info {
    width:fit-content;
  }
  .banner-img {
    width: 100%;
    height: 590px;
  }
  .run {
    padding: 20px 10px 20px 10px;
  }
 
  .image {
    width: 100%;
  }
  .img {
    max-width: 100%;
  }
  .bmi{
    width: 451px;
    text-align: center;
  }
  .bmi-calculator{
    width: 90%;
    padding: 20px;
  }
  .bmi-table {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
  }
  .teammate-cards{
    grid-template-columns: repeat(2,1fr);
    margin: 50px 0px 20px 0px;
  }
  .footer-tabs{
    grid-template-columns: repeat(1,1fr);
  }
}